*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

nav{
    background: none;
    height:70px;
    color: white;
}

body{
    padding: 0;
    margin: 0;
    color: white;
    
}

#nb{
    display: flex;
    justify-content: space-between;
    color: white;

}

#no-ic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 70px;
}

#no-ac{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    height: 70px;
}

#voltar-tripu{
    font-size: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.btnav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    text-align: center;
    height: 100%;
    color: white;
    border-radius: 8vh;
    border: solid #006eff81 3px;
}

.btnav:hover{
    background: #444;
transition: 0.3s;
border-radius: 8vh;
}

#logog{
    width: 60%;
}

#logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-top: 5px;
}

#logo > img{
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}


#nome{
    font-size: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

a{
    text-decoration: none;
}

a > #tripu, a > #supp{
    width: 100px;
    height: 100%;
    text-decoration: none;
}

#logog:hover{
    background: #444;
    transition: 0.3s;
    border-radius: 8vh;
}


#tripu, #supp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 100%;
    color: white;
    border-radius: 8vh;
    border: solid #006eff81 3px;

    
}


#tripu:hover{
background: #444;
transition: 0.3s;
border-radius: 8vh;

}

#supp:hover{
    background: #444;
    transition: 0.3s;
    border-radius: 8vh;
}

#indio{
    text-align: center;
    font-size: 40px;
}

#arroz{
    text-align: center;
    font-size: 25px;
}

#cafe{
    width: 100%;

    
    display: flex;
    align-items: center;
    justify-content: center;
}

#cafe img{
    width: 800px;
    height: 500px;

    
}

#isopor{
    width: 100%;

    
    display: flex;
    align-items: center;
    justify-content: center;
}
#isopor img{
    width: 800px;
    height: 600px;
}

#grande{
    font-size: 50px;
}
#media{
    font-size: 40px;
}

table {
    width: 20%; 
    border-collapse: collapse; 
    margin: 50px; 
    align-items: center;
}
th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: center; 
}

